<link href="style.css" rel="stylesheet">
<div class="container">
    <header class="title">
        <h3 id="score">Score: </h3>
    </header>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js"></script>
</div>

<div class="container">
    <section class="overlay">
        <div class="gameOverGrid">
            <h3 id="gameOver">You lose!</h3>
        </div>
        <button class="gameOverGrid btn">Play</button>
    </section>
    <section id="gameBoard"></section>

</div>